<!DOCTYPE html>
<html lang="en">

<head>  
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap" rel="stylesheet">
  <%-- <link rel="stylesheet" href="/CSS/Stylesheet.css">
  <link rel="stylesheet" href="/CSS/Laptop.css" media="only screen and (min-width: 960px)">
  <link rel="stylesheet" href="/CSS/Tablet.css" media="only screen and (min-width: 481px) and (max-width: 960px)">
  <link rel="stylesheet" href="/CSS/Mobile.css" media="only screen and (max-width: 480px)"> --%>
</head>

<body>
  <header>
    <%- include("Partials/Header") %>
  </header>

  <main>
    <%- body %>
  </main>

  <footer class="footer">
    <%- include("Partials/Footer") %>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</body>

</html>